.dklxg { 
  padding-bottom: 85px;
  border-right-width: 86px;
  padding-left: 67px;
  border-top-width: 61px;
  padding-bottom: 9px;
  padding-top: 39px;
  font-size: 72px;
  line-height: 86px;
  line-height: 66px;
  border-top-width: 58px;
  padding-right: 6px;
  padding-right: 76px;
  padding-right: 3px;
}
