.dklxg { 
  padding-bottom: 85px;
  border-right-width: 86px;
  padding-left: 67px;
  border-top-width: 61px;
  padding-bottom: 9px;
  padding-top: 39px;
  font-size: 72px;
  line-height: 86px;
  line-height: 66px;
  border-top-width: 58px;
  padding-right: 6px;
  padding-left: 99px;
  border-bottom-width: 31px;
  border-right-width: 79px;
  padding-left: 5px;
  padding-left: 37px;
  border-right-width: 57px;
  line-height: 83px;
  margin-right: 9px;
  border-bottom-width: 47px;
  font-size: 95px;
  margin-top: 82px;
  border-right-width: 51px;
  margin-bottom: 20px;
  border-top-width: 61px;
  margin-bottom: 85px;
  margin-left: 88px;
  font-size: 19px;
  border-top-width: 27px;
  padding-top: 28px;
  margin-top: 28px;
  border-left-width: 84px;
  margin-left: 98px;
  margin-right: 97px;
  line-height: 68px;
  margin-left: 14px;
  font-size: 17px;
  font-size: 9px;
  border-right-width: 56px;
  border-left-width: 61px;
  margin-bottom: 18px;
  padding-right: 46px;
  padding-right: 99px;
  margin-left: 18px;
  margin-right: 15px;
  font-size: 47px;
  font-size: 1px;
  margin-left: 71px;
  padding-top: 61px;
  border-right-width: 31px;
  border-top-width: 73px;
  margin-top: 23px;
  border-bottom-width: 47px;
  margin-top: 2px;
  margin-left: 29px;
  border-bottom-width: 1px;
  margin-top: 83px;
  border-bottom-width: 11px;
  margin-top: 91px;
  border-left-width: 13px;
  margin-bottom: 80px;
  padding-right: 83px;
  padding-top: 14px;
  margin-top: 83px;
  padding-left: 84px;
  border-top-width: 77px;
}
